/*
---
name: global
category: app/global
tag:
  - global
---
*/

* {
  margin: unset;
  padding: unset;
  user-select: none;
}

body {
  height: 100vh;
  min-height: 600px;
}

:root {
  --color-primary-background: #350147;
}