* {
  margin: unset;
  padding: unset;
  user-select: none;
}

body {
  height: 100vh;
  min-height: 600px;
} 

:root {
	--color-primary-background: #350147;
	--color-primary-background-little: #B544DB;
	--color-primary-background-rouse: #DB4F8F ;
	--color-primary-background-yellow: #DBCE5A;
	--color-primary-background-green: #2EDB32;
	--color-primary-background-blue: #5A39DB;
} 

